@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
/* Giấy tờ khác */
.btnOtherFile{
    margin-left: 0 !important;
}

.otherFileTitle{
    font-size: 14px;
}

.btnDelete{
    float: right;
    color: #ff0000b0;
    border: solid #ff00005c 1px;
    text-align: center;
    padding: 0 10px;
}
/* End Giáy tờ khác */

/* CheckBox Square */
.form-check-input[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    transform: scale(1.5);
}
.form-check-input:checked {
    background-color: #f27125;
    border-color: #f27125;
}
/* End CheckBox Square */
.BackgrOrange {
    background: #f27125;
    height:52px;
}
.container.height50 {
    position: relative;
    z-index: 1000 !important;
}
.col-sm-6.logo img {
    width: 165px;
    height: 46px;
}
.col-sm-6.login {
    text-align: right;
}
label.width135 {
    min-width: 152px;
    font-size: 14px;
    font-weight: normal;
}
.NamePlace label {
    font-size: 14px;
}
.row.container-fluid.Signin-Pd0 {
    padding: 0 0 0 7px;
}
.row.container-fluid.Signin-Pd0 label {
    font-size: 14px;
    margin-top: 3px;
}
label.Contact {
    width: 161px;
    font-size: 14px;
}

textarea.form-control.height70 {
    height: 50px;
}

.WidthContact {
    display: inline-block;
    width: 166px;
    height: 30px;
    font-size: 13px;
    padding: 0 3px;
}

.WidthContactFull {
    display: inline-block;
    width: 70%;
    font-size: 13px;
    height: 30px;
    padding: 0 3px;
}

.Competition {
        width: 105px;
        height: auto;
        font-size: 14px;
        font-weight: normal;
    }
    .WidthCompetition {
        display: inline-block;
        width: 29%;
        height: 30px;
        font-size: 13px;
    }

.House-pd0{
    padding:0 0 0 18px !important;
    margin-top: -10px;
}

.form-check-input[type=radio] {
    background: white;
    border: 1px solid gray;
    transform: scale(1.5);
}

.form-check-input:checked[type=radio] {
    background: #f27125;
}

p.italic-nor {
    text-align: center;
    font-style: italic;
    font-weight: normal !important;
    font-size: 14px !important;
}

p.center-nor {
    text-align: center !important;
    font-weight: normal !important;
    font-size: 14px !important;
    width: 100%;
    padding: 1px 0 !important;
}
.Text01 p {
    margin: 0;
    margin-bottom: 3%;
}
.col-sm-12.boderTitle{
    display: none;
}
.logo {
    float: left;
    margin: 17px 0;
}
.login {
    float: right;
    padding-top: 27px;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.user{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    position: relative;
}

/*  */
.Logout {
    display: inline-block;
    border: 1px solid #0066B2;
    padding: 1px 5px;
    border-radius: 5px;
    color: #0066B2;
}
.username {
    display: inline-block;
    padding-right: 45px;
}

.user i {
    color: #F27125;
    padding: 0 0 0 20px;
    font-size: 28px;
    position: absolute;
    top: -4px;
    right: 0;
}

.Logout {
    border: 1px solid #0066B2;
    padding: 1px 5px;
    border-radius: 5px;
    color: #0066B2;
}

.Logout i {
    padding-right: 8px;
}
/*  */
.menu{
    min-height: 52px;
    width: 100%;
    clear: left;
    line-height: 52px;
    padding: 0;
}
.menu ul{
    line-height: 52px;
    margin: 0;
    padding: 0;
}
.menu ul li{
    display: inline-block;
}
.menu ul li.pd70{
    padding-right: 80px;
}

.menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.Profile {
    border: 1px solid #f27125;
    background: #f27125;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    padding: 14px 16px;
    margin: 18px 0;
}

.Profile i {
    font-size: 28px;
    padding-right: 10px;
}
.Profile p {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
}
.Help-Center {
    border: 1px solid #f27125;
    border-radius: 10px;
    padding-bottom: 20px;
}

.Help-Center h5 {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    background: #f27125;
    color: white;
    border-radius: 8px 8px 0 0;
    padding: 15px;
    margin: 0;
}
.TextBox {
    padding: 16px 18px 0;
    font-size: 16px;
}

.TextBox h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.TextBox p {
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.container.banner .row .col-sm-12 {
    height: 495px;
    display: block;
    margin-top: 18px;
    padding: 0;
}

.container.banner .row .col-sm-12 img {
    width: 100%;
    height: 100%;
}
.title-banner {
    position: absolute;
    z-index: 1000;
    font-size: 40px;
    font-weight: 700;
    color: white;
    padding-top: 110px;
    padding-left: 30px;
}

.container.banner .row .col-sm-12 .banner-fpteducation img {
    position: absolute;
    z-index: 1000;
    width: 350px;
    height: 90px;
    top: 240px;
}
footer {
    margin-top: 50px;
}
.background-footer {
    height: 16px;
    width: 100%;
    background: #F27125;
}
.Content-footer {
    background: #333333;
    color: white;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    padding-top: 45px;
    width: 100%;
    padding-bottom: 30px;
}
footer .container .row .col-sm-4 img {
    width: 100%;
    padding-right: 15%;
    height: 59px;
}
.col-sm-4.Copyright p {
    margin-top: 35px;
}

.Box h5 {
    font-size: 16px;
    color: #f27125;
    font-weight: 700;
}
footer .container .row .col-sm-12 {
    border-top: 1px solid;
    margin-top: 100px;
    text-align: center;
    padding-top: 30px;
}
.Status-Profile {
    background: #F0F2F5;
    border-radius: 10px;
    margin-top: 20px;
    height: 292px;
}

.Status-Profile h5{
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    padding: 18px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3px;
}

.border-green i {
    font-size: 53px;
    color: #0066B2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.border-green img {
    width: 22px;
    height: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.border-green {
    width: 52px;
    height: 52px;
    border: 4px double #0066B2;
    border-radius: 50%;
    position: relative;
    margin-left: 20px;
}
.name-profile {
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
}
.pic-user-down {
    text-align: left;
    padding-left: 50px;
}

.icon-user i {
    font-size: 28px;
    color: #0066B2;
    padding-bottom: 3px;
}
.pic-user-down img {
    padding-left: 4px;
}
/* .border-green.approve i {
    color: #0066B2;
}

.border-green.approve {
    border: 1px solid #0066B2;
}
.border-green.pending i {
    color: #BDBDBD;
} */

.border-green.pending {
    border: 5px double white;
    background: #BDBDBD;
}
.Status-Profile p {
    text-align: center;
    padding-top: 30px;
    font-size: 16px;
    font-weight: normal;
}

.Flex-Box {
    position: relative;
    width: 100px;
}

.border-arrow {
    width: 60px;
    border-top: 2px dotted #BDBDBD;
    position: absolute;
    top: 29%;
    left: 103%;
    transform: translate(-50%, -50%);
}
.arrow {
    margin-left: 58px;
    color: #BDBDBD;
    font-size: 14px;
    position: absolute;
    top: -8px;
}
.WidthInfoStudent{
    display: inline-block;
    width: 175px;
    height: 30px;
    font-size: 13px;
    padding: 0 3px;
}
/* .Info-Student .form-control{
    display: inline-block;
    width: 175px;
    height: 30px;
    font-size: 13px;
    padding: 0 3px;
} */
/* .Info-Student .form-group label {
    min-width: 169px;
    font-size: 16px;
    font-weight: normal;
} */
.Info-Student {
    background: #F0F2F5;
    margin-top: 20px;
    border-radius: 10px;
}
.title-main {
    border-bottom: 1px solid #BDBDBD;
    font-size: 16px;
    font-weight: 700;
    padding: 18px;
}

.title-main a {
    float: right;
    color: #0066B2;
    font-size: 14px;
    font-weight: 400;
}
.title-main a:hover{
    text-decoration: none;
}
.Info-Student .row {
    padding: 18px 18px 0 18px;
}
.Info-Student .form-group {
    margin: 0 0 5px 0;
}
.Click-Type.flex-container {
    display: flex;
    margin: 0;
    justify-content: space-between;
}

.BoxClick {
    width: 178px;
    border-bottom: 2px solid gray;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}
.BoxClick:hover{
    color: #0066B2;
    border-bottom: 2px solid #0066B2;
    transition: 500ms;
    font-weight: 700;
}
.Place.flex-container {
    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
}
.container.Scholarship .row .col-sm-7 {
    margin: 0;
    padding: 0;
}
.col-sm-6.pd0 {
    padding: 0;
}
.Info-Student .row.pd10 {
    padding: 20px 0 50px 0 !important;
}
label.form-check-label.mg-left10 {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
}
.form-group.mg-top10 {
    margin-top: 25px;
    margin-left: 35px;
}
.border-Upload {
    height: 132px;
    text-align: center;
    padding: 30px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    background: #D5DCE6;
    width: 221px;
}

.container.Scholarship .row .col-sm-7 p {
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
}
.row.container-fluid.Signin-Pd0 p {
    text-align: center;
    margin: 10px 0;
}

.row.container-fluid.Signin-Pd0 .btnbtncenter {
    text-align: center;
}
button.btnUploadPic {
    background: #0066B2;
    border: none;
    color: white;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 5px;
    text-align: center;
    width: 155px;
}

.container.TestScholarship .form-group label {
    min-width: 50px;
}
.TestScholarship .row.pd20-center {padding-left: 40px;}

.TestScholarship .row.pd20-center p {
    margin: 10px 20px;
    font-size: 14px;
}
.container.TestScholarship .btnUploadSchoolRank {
    font-size: 14px;
    margin-top: 32px;
    border: none;
    background: #0066B2;
    color: white;
    border-radius: 3px;
    padding: 2px 8px;
}

.container.TestScholarship .form-group .form-control {
    width: 100%;
    font-size: 13px;
    padding: 0px 5px;
    height: 25px;
}
.container.TestScholarship .center {
    text-align: center;
}

.container.TestScholarship .center .border-Upload {
    margin-left: 45px;
}

.container.TestScholarship .center p {margin: 16px 0;font-size: 14px;text-align: center;}
.PictureCCCD i {font-size: 55px;margin-top: 45px;margin-left: 40px;color: #828282;}

.PictureCCCD {
    width: 280px;
    height: 165px;
    border: 1px solid #BDBDBD;
    position: relative;
    background: #D5DCE6;
    border-radius: 6px;
    margin-bottom: 20px;
}

.PictureCCCD p {width: 60%;display: inline-block;color: gray;padding-left: 18px;}

button.btnCCCD {
    position: absolute;
    bottom: 15px;
    right: 10px;
    width: 86px;
    height: 32px;
    background: #0066B2;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}
.Info-Student .Signin {
    margin: 0;
    padding: 0;
}
.Info-Student .col-sm-6.pg0 {
    padding: 0;
    margin: 0;
}

.Info-Student .col-sm-6.pg0 p {
    font-size: 14px;
}
.Info-Student .Signin .col-sm-4 {
    margin: 0;
    padding: 0;
}

.Info-Student .Signin .col-sm-4 h5 {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    padding: 15px;
    border-bottom: 1px solid #BDBDBD;
}
.col-sm-4.border-lf-rg {
    border-left: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
}
.Info-Student .Signin .col-sm-4 .form-check {
    padding-left: 45px;
    padding-bottom: 15px;
}
.row.Signin .form-check-label {
    font-size: 14px;
    font-weight: normal;
}
.Info-Student .row.pd0-mg0 {
    margin: 0;
    padding: 0;
}

.Info-Student .col-sm-4.pd0-mg0 {
    margin: 0;
    padding: 0;
}

.Info-Student .col-sm-4.pd0-mg0 p {margin-bottom: 10px;}

.Info-Student .col-sm-8.pd0-mg0 p{
    margin-bottom: 10px;
}
.Cost {
    background: #F0F2F5;
    margin-top: 20px;
    border-radius: 10px;
    padding-bottom: 30px;
}
.Cost .row .col-sm-3.bdbot{
    border-bottom: 1px solid #BDBDBD;
    padding: 0px;
}
.Cost .row .col-sm-3 p{
    font-size: 16px;
    font-weight: 700;
    padding: 18px 0 0 18px;
}
.Cost .row .col-sm-2.bdbot{
    border-bottom: 1px solid #BDBDBD;
    padding: 0px;
}
.Cost .row .col-sm-2 p{
    font-size: 16px;
    font-weight: 700;
    padding-top: 18px;
}
.Cost .row .col-sm-7.bdbot{
    border-bottom: 1px solid #BDBDBD;
    padding: 0px;
}
.Cost .row .col-sm-7 a{
    font-size: 14px;
    font-weight: 400;
}
.Cost .row {
    margin: 0;
    padding: 0;
}
.Cost01 .bdCost01 {
    width: 140px;
    height: 215px;
    background: #D5DCE5;
    margin: 20px 0 0 20px;
    border-radius: 5px;
}

.Cost01 .bdCost01 i {
    text-align: center;
    font-size: 95px;
    color: #828282;
    margin-top: 55px;
    margin-left: 30px;
}
.Cost01 .bdCost02 {
    width: 110px;
    height: 216px;
    background: #D5DCE5;
    margin-top: 20px;
    border-radius: 5px;
}
.Cost01 .bdCost02 img {
    width: 80px;
    height: 55px;
    margin-top: 80px;
    margin-left: 15px;
}
button.btnUploadCost01 {
    margin-left: 45px;
    background: #0066B2;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 6px;
    width: 108px;
    height: 30px;
}
.Cost01 .btnUploadCost02 {
    background: #0066B2;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    width: 108px;
    height: 30px;
}
.Cost .title14 {
    font-size: 14px;
    padding-top: 20px;
    padding-left: 55px;
}

.Cost .title14 p {
    margin: 0;
}
.Cost .title14 {
    font-size: 14px;
    padding-top: 20px;
    padding-left: 55px;
}

.Cost .title14 p {
    margin: 0px 0 5px 0;
}

.Cost .title14 p.RedColor {
    color: red;
    font-size: 24px;
    font-weight: bold;
}

.Cost .title14 p.BoldColor {
    font-weight: bold;
}
.row.pd0-mg0-bd0 {
    padding: 10px 0;
    margin: 0;
}

.row.pd0-mg0-bd0 .form-control {
    width: 360px;
    height: 30px;
}

button.btnUploadCard {
    border: none;
    background: #0066B2;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 15px;
}
.input-group.add-on.alert.alert-dismissable.mg0-pd0 {
    margin: 0;
    padding: 0;
    width: 360px;
    position: relative;
}
.input-group-btn {
    position: absolute;
    top: 0;
    right: 3px;
}
button.btn.btn-outline-danger {
    border-left-width: 1 !important;
    font-size: 11px;
    padding: 2px 7px;
    margin: 4px;
}
/* Xử lý sự kiện ẩn textbox */
.add-on .input-group-btn > .btn {
    border-left-width:0;left:-2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

/* Responsive */

/* Mobile */
@media only screen and (max-width: 480px){
    .login {
        /* float: right; */
        padding-top: 0;
        font-size: 16px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        position: absolute;
        right: 0;
        top: 20px;
    }
    .Cost01 .bdCost02 {
        width: 100% !important;
        height: 190px !important;
        background: #D5DCE5;
        margin-top: 20px;
        border-radius: 5px;
    }
    .Cost01 .bdCost02 img {
        width: 80px;
        height: 55px;
        margin-top: 68px !important;
        margin-left: 37% !important;
    }
    p.center-nor{
        width: auto !important;
    }
    p.italic-nor {
        /* text-align: center !important; */
        font-style: italic;
        font-weight: normal !important;
        font-size: 14px !important;
        width: 100% !important;
    }
    .Info-Student .col-sm-6.pg0 p {
        font-size: 14px;
        text-align: left;
    }
    .Cost01 .bdCost01 {
        width: 100% !important;
        height: 190px !important;
        background: #D5DCE5;
        margin: 20px 0 0 0;
        border-radius: 5px;
    }
    .Cost01 .bdCost01 i {
        text-align: center;
        font-size: 55px;
        color: #828282;
        margin-top: 15% !important;
        margin-left: 41% !important;
    }
    .col-sm-12.boderTitle{
        display: block !important;
    }
    .col-sm-12.boderTitle {
        padding: 0;
        border-bottom: 1px solid #BDBDBD;
        height: 30px;
        padding-left: 18px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 700;
    }
    .bdbot.Lost {
        display: none;
    }
    button.btnUploadCard {
        border: none;
        background: #0066B2;
        color: white;
        width: 72px;
        height: 30px;
        border-radius: 5px;
        font-size: 16px;
        margin: 0 !important;
        margin-top: 10px !important;
    }
    .top-header {
        height: 10%;
         padding: 0 !important; 
        position: relative;
    }
    .Info-Student .form-control{
        display: inline-block;
        width: 100%;
        height: 30px;
        font-size: 13px;
        padding: 0 3px;
    }
    .logo {
        padding: 5% 0 0 6%;
        margin: 0;
    }
    .col-sm-4.border-lf-rg {
        border-left: none; 
        border-right: none;
    }
    .Place.flex-container.FullFlexBox {
        transform: none !important;
        font-size: 14px;
        padding-top: 10%;
        padding-left: 5%;
        display: block;
    }
    .row.pd0-mg0-bd0 .form-control {
        width: 100%;
        height: 30px;
    }
    .input-group.add-on.alert.alert-dismissable.mg0-pd0 {
        margin: 0;
        padding: 0;
        width: 100%;
        position: relative;
    }
    .col-sm-6.logo img {
        width: 140px;
    }
    .col-sm-6.login {
        text-align: right;
        padding: 0;
    }
    .user{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        display: inline-block;
    }
    .user i {
        color: #F27125;
        padding: 0 1px;
    }
    .Logout {
        border: 1px solid #0066B2;
        border-radius: 5px;
        color: #0066B2;
        font-size: 10px;
    }
    .Logout i {
        padding-right: 3px;
    }
    .menu{
        background-color: #f27125;
        height: 56%;
        width: 100%;
        clear: left;
    }
    .menu ul{
        line-height: 30px;
        margin: 0;
        padding: 0 15px;
    }
    .menu ul li.pd70{
        padding-right: 0;
    }
    .menu ul li{
        display: block;
    }
    .col-sm-4.nav-nav-bar {
        display: none;
    }
    .col-sm-8.main {max-width: 100% !important;padding: 0 2%;}
    .flex-container {
        display: flex;
        justify-content: space-evenly;
        margin-top: 0 !important;
        transform: scale(0.9) !important;
        padding-right: 10px;
    }
    

    .Click-Type.flex-container.FullFlexBox {
        transform: none !important;
    }
    .BoxClick {
        width: 24%;
        border-bottom: 1px solid gray;
        text-align: center;
        margin-top: 30px;
        font-size: 16px;
    }
    .border-arrow {
        width: 55px;
        border-top: 2px dotted #BDBDBD;
        position: absolute;
        top: 29%;
        left: 109%;
        transform: translate(-50%, -50%) scale(0.55);
    }
    .pic-user-down {
        text-align: center;
        padding-left: 57px !important;
    }
    .name-profile {
        font-size: 14px;
        text-align: center;
        font-weight: normal;
        font-style: normal;
        padding-left: 22px;
    }
    .PictureCCCD {
        width: 80% !important;
        height: 130px;
        border: 1px solid #BDBDBD;
        position: relative;
        background: #D5DCE6;
        border-radius: 6px;
        margin-bottom: 20px;
        text-align: center;
    }
    .PictureCCCD i {
        font-size: 55px;
        margin-top: 10%;
        margin-left: 26px;
        color: #828282;
    }
    .border-Upload {
        height: 155px !important;
        text-align: center;
        border: 1px solid #BDBDBD;
        border-radius: 8px;
        background: #D5DCE6;
        width: 100% !important;
        padding-top: 30px !important;
    }
    .border-Upload img {
        width: 50px;
        padding-top: 5%;
    }
    .btnbtncenter {
        text-align: center;
    }
    .col-sm-6.pd0 {
        padding-bottom: 5%;
    }
    .container.TestScholarship .form-group .form-control {
        width: 58%;
        font-size: 13px;
        padding: 0px 5px;
        height: 25px;
    }
    .container.Scholarship .row .col-sm-7 p {
        margin: 2% 0;
        font-size: 14px;
        text-align: center;
    }
    .Click-Type.flex-container.FullFlexBox {
        transform: none !important;
    }
    .container.TestScholarship .center .border-Upload {
        margin-left: 20px;
    }
    button.btnUploadPic {
        background: #0066B2;
        border: none;
        color: white;
        font-size: 14px;
        border-radius: 5px;
        text-align: center;
        width: 120px;
        padding: 0;
        margin: 0;
    }
    .container.TestScholarship .center p {margin: 8px 0;font-size: 14px;text-align: center;}
    .container.TestScholarship .center .border-Upload {
        margin-left: 0;
    }
    .container.TestScholarship .btnUploadSchoolRank {
        font-size: 14px;
        margin-top: 32px;
        border: none;
        background: #0066B2;
        color: white;
        border-radius: 3px;
        width: 108px;
    }
    .container.TestScholarship .form-group label {
        min-width: 50%;
    }
    .Info-Student .row.pd10 {
        padding-bottom: 30px;
    }
    .Info-Student .col-sm-4.pd0-mg0 {
        margin: 0;
        padding: 0;
        width: 32%;
    }
    .Info-Student .col-sm-4.pd0-mg0 p {margin-bottom: 10px;font-size: 13px;}
    .Info-Student .col-sm-8.pd0-mg0 {
        width: 68%;
        padding: 0;
    }
    .Info-Student .col-sm-8.pd0-mg0 p{
        margin-bottom: 10px;
        font-size: 13px;
    }
    .container.TestScholarship .form-group .form-control {
        width: 100%;
        font-size: 13px;
        padding: 0px 5px;
        height: 25px;
    }
    .border-Upload img {
        width: 50px;
        padding-top: 10%;
    }
    .TestScholarship .row.pd20-center {padding-left: 0;}
    .TestScholarship .row.pd20-center p {
        font-size: 14px;
        margin: 3% 0;
        text-align: center;
    }
    /* .PictureCCCD {
        width: 195px;
        height: 125px;
        border: 1px solid #BDBDBD;
        position: relative;
        background: #D5DCE6;
        border-radius: 6px;
        margin-bottom: 20px;
    } */
    button.btnCCCD {
         position: static;
        /* bottom: 45px; */ 
        /* right: 5px; */
        width: 86px;
        height: 32px;
        background: #0066B2;
        border: none;
        color: white;
        font-size: 16px;
        border-radius: 5px;
    }
    /* .PictureCCCD i {font-size: 55px;margin-top: 20px;margin-left: 30px;color: #828282;} */
    .Cost01 .bdCost01 {
        width: 85px;
        height: 215px;
        background: #D5DCE5;
        margin: 20px 0;
        border-radius: 5px;
    }
    .Cost01 .bdCost01 i {
        text-align: center;
        font-size: 70px;
        color: #828282;
        margin-top: 68px;
        margin-left: 12px;
    }
    .Cost01 .bdCost02 {
        width: 90px;
        height: 216px;
        background: #D5DCE5;
        margin-top: 20px;
        border-radius: 5px;
    }
    .Cost01 .bdCost02 img {
        width: 61px;
        height: 55px;
        margin-top: 80px;
        margin-left: 15px;
    }
    .Cost .row .col-sm-2 p{
        font-size: 16px;
        font-weight: 700;
        padding-top: 18px;
        padding-left: 15px;
    }
    .Cost01 p {
        padding: 0 !important;
        margin: 0 !important;
    }
    button.btnUploadCost01 {
        margin-left: 0;
        background: #0066B2;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 14px;
        font-weight: 400;
        margin-top: 6px;
        width: 86px;
        height: 25px;
    }
    .Cost01 .btnUploadCost02 {
        background: #0066B2;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 14px;
        font-weight: 400;
        width: 90px;
        height: 25px;
        margin-top: 4px;
    }
    .TestScholarship .row.pd20-center p {
        margin: 0;
        font-size: 14px;
        width: 100% !important;
        text-align: center;
        padding: 10px 0;
    }
    footer .container .row .col-sm-4 img {
        width: 300px;
        height: 80px;
        margin-left: 10px;
    }
    .col-sm-4.Copyright p {
        margin-top: 10px;
    }
    footer {
        background: #333333;
        color: white;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        /* padding-top: 45px; */
        margin-top: 50px;
    }
}
/* laptop 1024 */
@media only screen and (max-width: 1024px){
    .container.TestScholarship .btnUploadSchoolRank {
        font-size: 14px;
        margin-top: 55px;
        border: none;
        background: #0066B2;
        color: white;
        border-radius: 3px;
        padding: 2px 8px;
        width: 130px;
    }
    .menu ul li.pd70 {
        padding-right: 25px;
    }
    .flex-container {
        display: flex;
        justify-content: space-evenly;
        margin-top: 3px;
        transform: scale(0.96);
        padding-right: 10px;
    }
    .pic-user-down {
        text-align: center;
        padding-left: 87px;
    }
    .border-arrow {
        width: 38px;
        border-top: 2px dotted #BDBDBD;
        position: absolute;
        top: 29%;
        left: 100%;
        transform: translate(-50%, -50%);
      }
      .arrow {
        margin-left: 31px;
        color: #BDBDBD;
        font-size: 14px;
        position: absolute;
        top: -8px;
      }

      .PictureCCCD {
        width: 200px;
        height: 118px;
        border: 1px solid #BDBDBD;
        position: relative;
        background: #D5DCE6;
        border-radius: 6px;
        margin-bottom: 20px;
    }
    .PictureCCCD i {
        font-size: 55px;
        margin-top: 10px;
        margin-left: 26px;
        color: #828282;
    }
    .costResponsive {
        font-size: 14px;
        padding-top: 20px;
        padding-left: 55px;
    }
    .Cost01 .bdCost01 {
        width: 86px;
        height: 151px;
        background: #D5DCE5;
        margin: 20px 0 0 0px;
        border-radius: 5px;
    }
    .Cost01 .bdCost01 i {
        text-align: center;
        font-size: 71px;
        color: #828282;
        margin-top: 29px;
        margin-left: 11px;
    }
    /* .Cost01 p{
        text-align: left !important;
    } */
    p.center-nor {
        text-align: center !important;
        font-weight: normal !important;
        font-size: 14px !important;
        width: 90px;
        padding: 1px 0 !important;
    }
    button.btnUploadCost01 {
        margin-left: 0;
        background: #0066B2;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-weight: 400;
        margin-top: 3px;
        width: 89px;
        height: 30px;
    }
    .Cost01 .bdCost02 {
        width: 86px;
        margin-left: 0;
        height: 149px;
        background: #D5DCE5;
        margin-top: 20px;
        border-radius: 5px;
    }
    .Cost01 .bdCost02 img {
        width: 80px;
        height: 55px;
        margin-top: 40px;
        margin-left: 4px;
    }
    .Cost01 .btnUploadCost02 {
        background: #0066B2;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-weight: 400;
        width: 89px;
        margin-left: 0;
        height: 30px;
    }
    
      button.btnUploadCard {
        border: none;
        background: #0066B2;
        color: white;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        font-size: 16px;
        margin-left: 64px;
    }
    .BoxClick {
        width: 24%;
    }
    .ScholarLeft{
        display: flex;
        flex-direction: column;
    }
    .ScholarLeft div:last-child{
        max-width: 100% !important;
    }
    .ScholarLeft div:last-child p{
        text-align: left !important;
    }
    p.italic-nor {
        /* text-align: left !important; */
        font-style: italic;
        font-weight: normal !important;
        font-size: 14px !important;
        width: 63%;
    }
}
 /* / fix menu in width 1200px   / */
@media only screen and (max-width: 1200px){
    .menu ul li.pd70 {
        padding-right: 25px;
    }
}
 /* / Tablet 768  / */
@media only screen and (max-width: 768px){
    .container.TestScholarship .btnUploadSchoolRank {
        font-size: 14px;
        width: 110px !important;
        margin-top: 25px !important;
        border: none;
        background: #0066B2;
        color: white;
        border-radius: 3px;
        padding: 3px 2px !important;
    }
    .border-Upload {
        height: 105px;
        text-align: center;
        padding: 18px;
        border: 1px solid #BDBDBD;
        border-radius: 8px;
        background: #D5DCE6;
        width: 165px;
    }
    .TestScholarship .row.pd20-center p {
        margin: 0;
        font-size: 14px;
        width: 185px;
        text-align: center;
        padding: 10px 0;
    }
    .container.TestScholarship .center .border-Upload {
        margin-left: 0px;
    }
    .container.TestScholarship .btnUploadSchoolRank {
        font-size: 14px;
        width: 108px;
        margin-top: 56px;
        border: none;
        background: #0066B2;
        color: white;
        border-radius: 3px;
        padding: 2px 8px;
    }
    .formGroupinput{
        width: 90px !important;
    }
    .Info-Student .Signin .col-sm-4 h5 {
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        padding: 15px;
        border-bottom: 1px solid #BDBDBD;
    }
    p.SmallTitle {
        width: 90%;
    }
    .Cost01 .bdCost01 {
        width: 86px;
        height: 151px;
        background: #D5DCE5;
        margin: 22% 0 0 0;
        border-radius: 5px;
    }
    .Cost01 .bdCost02 {
        width: 86px;
        height: 149px;
        background: #D5DCE5;
        margin-top: 20px;
        border-radius: 5px;
        margin-left: 0 !important;
    }
    .Place.flex-container {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    .flex-container {
        transform: scale(0.88);
        margin-top: 3px;
        padding-right: 10px;
    }
    .border-arrow {
        width: 20px;
        border-top: 2px dotted #BDBDBD;
        position: absolute;
        top: 29%;
        left: 113%;
        transform: translate(-50%, -50%);
    }
    .arrow {
        margin-left: 15px;
        color: #BDBDBD;
        font-size: 14px;
        position: absolute;
        top: -8px;
    }
    .border-green {
        margin-left: 24px;
    }
    .container{
        max-width: 100%;
    }
    .PictureCCCD {
        width: 200px;
        height: 118px;
        border: 1px solid #BDBDBD;
        position: relative;
        background: #D5DCE6;
        border-radius: 6px;
        margin-bottom: 20px;
    }
    .PictureCCCD i {
        font-size: 55px;
        margin-top: 10px;
        margin-left: 26px;
        color: #828282;
    }
    .costResponsive {
        font-size: 14px;
        padding-top: 20px;
        padding-left: 55px;
    }
    .Cost01 .bdCost01 {
        width: 86px;
        height: 151px;
        background: #D5DCE5;
        margin: 20px 0 0 0;
        border-radius: 5px;
    }
    .Cost01 .bdCost01 i {
        text-align: center;
        font-size: 71px;
        color: #828282;
        margin-top: 29px;
        margin-left: 11px;
    }
    button.btnUploadCost01 {
        margin-left: 0;
        background: #0066B2;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-weight: 400;
        margin-top: 3px;
        width: 89px;
        height: 30px;
    }
    .Cost01 .bdCost02 {
        width: 86px;
        margin-left: 22px;
        height: 149px;
        background: #D5DCE5;
        margin-top: 20px;
        border-radius: 5px;
    }
    .Cost01 .bdCost02 img {
        width: 80px;
        height: 55px;
        margin-top: 40px;
        margin-left: 4px;
    }
    .Cost01 .btnUploadCost02 {
        background: #0066B2;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-weight: 400;
        width: 89px;
        margin-left: 0;
        height: 30px;
    }
    /* .Cost01 p{
        text-align: left !important;
    } */
    button.btnUploadCard {
        border: none;
        background: #0066B2;
        color: white;
        width: 72px;
        height: 30px;
        border-radius: 5px;
        font-size: 16px;
        margin-left: 136px;
        
    }
    .BoxClick {
        width: 24%;
        border-bottom: 2px solid gray;
        text-align: center;
        margin-top: 30px;
        font-size: 16px;
    }
    p.italic-nor {
        /* text-align: left !important; */
        font-style: italic;
        font-weight: normal !important;
        font-size: 14px !important;
        width: 88%;
    }
    button.btnUploadPic {
        background: #0066B2;
        border: none;
        color: white;
        font-size: 16px;
        padding: 5px 20px;
        border-radius: 5px;
        text-align: center;
        margin-left: 10px;
        width: 155px;
    }
    .container.Scholarship .row .col-sm-7 p {
        margin: 10px 0;
        font-size: 14px;
        text-align: center !important;
    }
}
